@import '~bootstrap/scss/bootstrap.scss';
@import 'config/_variables';
@import 'config/_typography';

@import '_layout';
@import '_header';
@import '_nav';
@import '_general';

@import '_form';
@import '_search';
@import '_books';
@import '_cart';

.rq-controls {
  margin-top: 20px;
}

.rq-head {
  .btn {
    width: 100%;
    border: 1px solid #e4e4e4;
    color: rgba(0,0,0,0.2);

    &:hover {
      color: black;
      border: 1px solid rgba(0,0,0,0.4);
    }

    &.active {
      color: black;
      border: 1px solid rgba(0,0,0,0.4);
      cursor: default;
    }
  }
}

.rq-content {
  margin-top: 30px;
}
