<div id="app" class="wrapper">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="" style="color: red">
      OdinFilter
    </a>
    <button class="navbar-toggler" type="button"aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse main-menu" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">ShiRoad</a>
        </li>
      </ul>
    </div>
  </nav>

  <main role="main" class="container main-content">
    <router-outlet></router-outlet>
  </main>

</div>
